h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	line-height:1.2;
}
 
h2 {
	font-size: 1.75rem;
	font-weight: 300;
	margin-bottom: 1rem;
	text-wrap: balance;
	strong, b {
		font-weight: 700;
	}
	@media (min-width: 768px) {
	  font-size: 3rem;
	}
  }