# Ignore everything except the delcam theme
/*
!/wp-content/
/wp-content/*
!/wp-content/themes/
/wp-content/themes/*
!/wp-content/themes/delcam/

# Ignore node_modules and vendor inside the theme
/wp-content/themes/delcam/node_modules/
/wp-content/themes/delcam/vendor/

# Configuration
wp-config.php

# Log files
*.log