button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn {
	border: 1px solid;
	border-color: $dark_blue;
	border-radius: 5px;
	background: $dark_blue;
	color: white;
	line-height: 1;
	padding: 1em;
	text-decoration:none;
	transition: all 0.4s ease-in-out;
	&:visited,
	&:active,
	&:focus {
		color:white;
		border-color: $color__border-button-focus;
	}
	&:hover {
		background:white;
		color:$dark_blue;
	} 

	&.btn--white {
		background:white;
		color:$dark_blue;
		&:hover {
			background:$dark_blue;
			color:white;
		}
	}
}
